@font-face{
	font-family: opensans;
	src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face{
	font-family: opensans-bold;
	src: url(/fonts/OpenSans-SemiBold.ttf);
}

@font-face{
	font-family: ibm-plexserif;
	src: url(/fonts/IBMPlexSerif-Regular.ttf);
}

@font-face{
	font-family: ibm-plexserif-italic;
	src: url(/fonts/IBMPlexSerif-Italic.ttf);
}

body{
	margin:auto;
	font-family:ibm-plexserif;
	background-color:#000000;
	color:darkgray;
	-webkit-text-size-adjust:100%;
}

header{
	position: fixed;
	top:0;
	width:100%;
}

footer{
	position: fixed;
	bottom:0;
	width:100%;
	/*background-color: #0F2424;*/
	/*border-top: 1px gray solid;*/
}

div.main{
	padding-top:40px;
	padding-bottom:40px;
	padding-left:1em;
	padding-right:1em;
	margin:auto;
	max-width:45em;
	min-height: 70vh;
}

h1{
	font-family:opensans;
	font-size:2em;
	font-weight:500;
	padding-top:1em;
}

h2{
	font-family:opensans;
	font-size:1.5em;
	font-weight:300;
	padding-top:1.5em;
	margin-bottom:1em;
}

.navi {
	margin:auto;
	max-width:800px;
	list-style-type:none;
	padding:0;
/*	background-color:#333333;*/
	font-family:opensans; font-weight:normal;
}

.navi li {
	margin:0;
	display:inline-block;
	line-height:40px;
}

.navi a{
	padding:9px;
	color:white;
}

.navi li:hover{
	color:white;
	background-color:#286060;

}

.navi li.active a{
	color:lime;
	/*background-color:#286060;*/
}

a{
	color:salmon;
	text-decoration:none;
}

a:hover{
	color:white;
}

.main img{
	display:block;
	margin:auto;
	max-width:100%;
	max-height:500px;
	padding-top:5px;
	padding-bottom:5px;
}

.main p{
	font-family:ibm-plexserif;
	font-size:1.1em;
	line-height:1.6em;
	margin-bottom:1em;
}

.main ul,ol{
	line-height:1.5em;
	margin-bottom:1em;
}

.main strong,em{
	font-style:bold;
	font-family:ibm-plexserif-italic;
}


#site-name a {
	color:salmon;font-family:opensans-bold; font-weight:normal;
}

#home-item {
	display:none;
}

#nav-away{
	margin-top:0.5em;
	line-height:1.5em;
}

#social-links{
	margin-top:0.5em;
}

#menu-toggle,label{
	display:none;

}

.footer-navi {
	max-width:800px;
	margin:auto;
}

.footer-navi > a{
	color: salmon;
}

.footer-navi > a:hover{
	color: white;

}
#theme-button {
	display:inline;
	max-width:800px;
	margin:auto;
	padding-left:1em;
	font-family:opensans;
}

button {
	color: salmon;
	font-size:1em;
	font-family:opensans;
	border:none;
	border-radius:5px;
	margin:5px;
	padding:5px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background-color:black;
	vertical-align:middle;
}

button:hover{
	color:white;
	cursor:pointer;
	background-color:#222222;
}

div.mplayer {
	font-size:1.2em;
	border-radius:5px;
	padding:5px;
	margin-top:20px;
	margin-bottom:20px;
	overflow:hidden;
}

span.poem {
	font-family:ibm-plexserif-italic;
}

@media screen and (max-width:500px){

	#site-name {
		display:none;
	}

	#home-item {
		display:none;
	}

	#categories{
		display:none;
		position:absolute;
		width:100%;
	}

	label{
		display:block;
	}

	label.navi li a{
		display:inline;
		color:lightgray;
	}

	label:hover{
		cursor:pointer;
	}

	#menu-toggle:checked ~ #categories{
		display:block;
	}

	.navi li{
		display:block;
		padding:0;
		background-color:black;
		width:100%;
	}

	.navi li a{
		display:inline-block;
		padding:0;
		padding-left:10px;
		width:100% ;
	}
}
