@font-face{
	font-family: opensans;
	src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face{
	font-family: opensans-bold;
	src: url(/fonts/OpenSans-SemiBold.ttf);
}

@font-face{
	font-family: ibm-plexserif;
	src: url(/fonts/IBMPlexSerif-Regular.ttf);
}

@font-face{
	font-family: ibm-plexserif-italic;
	src: url(/fonts/IBMPlexSerif-Italic.ttf);
}

body{
	margin:auto;
	font-family:ibm-plexserif;
	background-color:#000000;
	/*color:darkgray;*/
	color:#888888;
	-webkit-text-size-adjust:100%;
}

header{
	position: fixed;
	top:0;
	width:100%;
}

footer{
	position: fixed;
	bottom:0;
	width:100%;
	/*background-color: #0F2424;*/
	/*border-top: 1px gray solid;*/
}

div.main{
	padding-top:40px;
	padding-bottom:40px;
	padding-left:1rem;
	padding-right:1rem;
	margin:auto;
	max-width:45rem;
	min-height: 70vh;
}

h1{
	font-family:opensans-bold;
	font-size:2.2rem;
	font-weight:700;
	padding-top:1rem;
}

h2{
	font-family:opensans;
	font-size:1.7rem;
	font-weight:700;
	padding-top:1.5rem;
	margin-bottom:1rem;
}

h3 {
	font-family:opensans;
	font-size:1.5rem;
	padding-top:1.5rem;
}

h4 {
	font-family:opensans;
	font-size:1.5rem;
	padding-top:1.5rem;
}

h3:before {
	content:"\27e3 ";
}

h4:before {
	content:"\2b29  ";
}

summary {
	margin-left:16px;
}

.navi {
	margin:auto;
	max-width:800px;
	list-style-type:none;
	padding:0;
/*	background-color:#333333;*/
	font-family:opensans; font-weight:normal;
}

.navi li {
	margin:0;
	display:inline-block;
	line-height:40px;
}

.navi a{
	padding:9px;
	color:white;
}


.navi li:hover{
	color:white;
	background-color:#286060;

}

.navi li.active a{
	color:lime;
	/*background-color:#286060;*/
}

a{
	color:salmon;
	text-decoration:none;
}

a:hover{
	color:white;
}

.main img{
	display:block;
	margin:auto;
	max-width:80%;
	max-height:500px;
	padding-top:5px;
	padding-bottom:5px;
}

.main p{
	font-family:ibm-plexserif;
	font-size:1.0em;
	line-height:1.7em;
	margin-bottom:1rem;
}

.main ul,ol{
	line-height:1.5rem;
	margin-bottom:1rem;
}

.main strong,em{
	font-style:normal;
	font-family:ibm-plexserif-italic;
}


#site-name a {
	color:salmon;font-family:opensans-bold; font-weight:normal;
}

#home-item {
	display:none;
}

#nav-away{
	margin-top:0.5rem;
	line-height:1.5rem;
}

#social-links{
	margin-top:0.5rem;
}

#menu-toggle,label{
	display:none;

}

.footer-navi {
	max-width:800px;
	margin:auto;
}

.footer-navi > a{
	color: salmon;
}

.footer-navi > a:hover{
	color: white;

}

.navi form{
	padding-left:12px;
	padding-right:12px;
	padding-bottom:0px;
}
button {
	display:inline-block;
	color: white;
	/*font-size:0.8rem;*/
	font-family:opensans;
	/*border:2px solid #444444;*/
	height:27px;
	/*width:50px;*/
	border-radius:15px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background-color:#222222;
}
button:hover{
	color:white;
	cursor:pointer;
	background-color:#444444;
}

div.mplayer {
	font-size:1.2rem;
	border-radius:5px;
	padding:5px;
	margin-top:20px;
	margin-bottom:20px;
	overflow:hidden;
}

span.poem {
	font-family:ibm-plexserif-italic;
}

table {
	margin: auto;
	min-width: 80%;
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid;
}

td {
	border:1px dashed;
	padding: 5px;
}

@media screen and (max-width:500px){

	#site-name {
		display:none;
	}

	#home-item {
		display:none;
	}

	#categories{
		display:none;
		position:absolute;
		width:100%;
	}

	label{
		display:block;
	}

	label.navi li a{
		display:inline;
		color:lightgray;
	}

	label:hover{
		cursor:pointer;
	}

	#menu-toggle:checked ~ #categories{
		display:block;
	}

	.navi li{
		display:block;
		padding:0;
		background-color:black;
		width:100%;
	}

	.navi li a{
		display:inline-block;
		padding:0;
		padding-left:10px;
		width:100% ;
	}
}
