/*
 * Based on new design written in testermelon-logo-baru.svg
 */

@font-face{
	font-family: opensans;
	src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face{
	font-family: opensans-bold;
	src: url(/fonts/OpenSans-SemiBold.ttf);
}

@font-face{
	font-family: font-serif;
	src: url(/fonts/Lora-Regular.ttf);
}

@font-face{
	font-family: font-serif-italic;
	src: url(/fonts/Lora-Italic.ttf);
}
@font-face{
	font-family: font-serif-bold;
	src: url(/fonts/Lora-Bold.ttf);
}
@font-face{
	font-family: font-caveat;
	src: url(/fonts/Caveat-Regular.ttf);
}


/* Common in all layout. Backgrounds and overall container. */
body {
	color:lightgrey;
	margin:0;
	background-color:black;
}

.backdrop {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:-1;
   	background-image:linear-gradient(rgba(-1,0,0,0.85),rgba(0,0,0,0.85)), url("/bg-1.jpg");
   	--webkit-background-size:cover;
   	--moz-background-size:cover;
   	background-size:cover;
   	background-position:center;
   	background-repeat:no-repeat;
   	background-attachment:fixed;

	overflow: scroll;
	overflow-x: hide;
}

.container{
	height:100vh;
	display:flex;
	flex-direction:column;
}

/*Styling for the landing page. Featuring big logo and front menu.*/

.biglogo {
	flex: 2 1;
	margin:auto;
	display:flex;
	flex-direction:column-reverse;
}

.biglogo img {
	max-width:60vw;
	max-height:50vh;
	mix-blend-mode:exclusion;
	opacity:100%;
}


.bigmenu {
	display:flex;
	flex: 1 1;
	flex-direction:row;
	flex-wrap:wrap;
	margin:auto;
	padding:0;
	width:60vw;
}

.bigmenu li {
	margin:auto;
	font-family: font-serif-italic;
	font-size: 25px;
	color: lightgrey;
	list-style-type:none;
}

.bigmenu a {
	color:white;
}

.bigmenu a:hover {
	color:salmon;
}

/* Stying for banner heading, used in blog and music section */

.banner-title {
	margin:auto;
	margin-top:35vh;
	margin-bottom:15vh;
	display:flex;
	max-width:90vw;
	width:500px;
}

hr{
	border:none;
	height:10px;
	background: url("/hr.svg");
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
}

.logo-icon {
	flex:1 1;
	max-width:100%;
	margin:5px;
}	

.logo-text {
	flex:8 8;
	margin:10px;
	display:flex;
	flex-direction:column;
	align-content:right;
	color:white;
}

.logo-text img {
	max-width:100%;
	flex:2 1;
}

.logo-smalltext {
	margin:5px;
	text-align:right;
	font-family:font-serif-italic;
	font-size:3vh;

}

nav {
	display:flex;
   	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
	position:fixed;
	width:100%;
	z-index:1;
}

.navlist {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin:5px;
	margin-left:5px;
	padding:0;
}
nav li {
	padding-left:5px;
	font-family: font-serif-italic;
	color: lightgrey;
	list-style-type:none;
}



/*Styling of blog elements */

main {
	opacity:95%;
	width:100%;
	flex-grow:1;
	font-family:font-serif;
}

main iframe {
	max-width:100%;
}

article {
	margin:auto;
	width:500px;
	max-width:90vw;
	margin-bottom:50px;;
}


h1, h2, h3, h4 {
	color:white;
}

h1{
	font-family:font-caveat;
	font-size:3em;
	padding:1em;
	text-align:center;
	font-weight:lighter;
	margin:auto;
}

h2{
	font-family:opensans-bold;
	font-size:1.3rem;
	padding-top:1.5rem;
	margin-bottom:1rem;
}

h3 {
	font-family:opensans;
	font-size:1.1rem;
	margin-bottom:0.5rem;
	padding-top:1em;
}

h4 {
	font-family:opensans;
	margin-bottom:0;
	padding-top:1em;
}

h3:before {
	content:"\27e3 ";
}

h4:before {
	content:"\2b29  ";
}

summary {
	margin-left:16px;
}

a {
	text-decoration:none;
}

main img{
	display:block;
	margin:auto;
	max-width:100%;
	max-height:500px;
	padding-top:5px;
	padding-bottom:5px;
}

main p{
	font-family:font-serif;
	font-size:1.0em;
	line-height:1.7em;
	margin-bottom:1rem;
}

main ul,ol{
	padding-left:10px;
	line-height:1.7em;
	margin-bottom:1rem;
}

main li {
	padding-left:5px;
}

main strong, .main em{
	font-style:normal;
	font-family:font-serif-italic;
	font-weight:bold;
}

a{
	color:salmon;
}
/*
main {
	background-color:oldlace;
	color:#444444;
}

a:hover{
	color:brown;
}

*/

main {
	/*background-color:#282f3d;*/
	color:#DDDDDD;
}

a:hover{
	color:white;
}

span.poem {
	font-family:font-serif-italic;
}

summary {
	color:slategrey;
}

summary:hover {
	cursor:pointer;
	color:white;
}

table {
	margin: auto;
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid;
	overflow-x: scroll;
}

td {
	border:1px dashed;
	padding: 10px;
}

div.directory-link {
	border-radius:5px;
	margin: 20px 0 20px 0px;
	padding: 5px;
	padding-left: 10px;
	font-size: 1.2em;
	background-color: rgba(120,170,200,0.2);
	font-family:font-sansserif;
	color: lightgray;
}

div.directory-link small {
	margin: 10px;
	color: #AAAAAA;
	font-size: 0.8rem;
}

div.directory-link:hover{
	background-color: rgba(120,170,200,0.5);
}

pre {
	display: block;
	width: 100%;
	overflow-x: scroll;
	color:#53b7b7;
}
