/*
 * Based on new design written in testermelon-logo-baru.svg
 */


@font-face{
	font-family: font-serif;
	src: url(/fonts/Lora-Regular.ttf);
}

@font-face{
	font-family: font-serif-italic;
	src: url(/fonts/Lora-Italic.ttf);
}
@font-face{
	font-family: font-serif-bold;
	src: url(/fonts/Lora-Bold.ttf);
}

/* Common in all layout. Backgrounds and overall container. */
body {
	color:lightgrey;
	margin:0;
	background-color:black;
   	background-size:cover;
   	background-position:center;
   	background-repeat:no-repeat;
   	background-attachment:fixed;
}

.container{
	height:100vh;
	display:flex;
	flex-direction:column;
}

/*Styling for the landing page. Featuring big logo and front menu.*/

.biglogo {
	flex: 2 1;
	margin:auto;
	display:flex;
	flex-direction:column-reverse;
}

.biglogo img {
	height:300px;;
	max-width:70vw;
	max-height:50vh;
	mix-blend-mode:exclusion;
	opacity:100%;
}


.bigmenu {
	display:flex;
	flex: 1 1;
	flex-direction:row;
	flex-wrap:wrap;
	margin:auto;
	padding:0;
	width:60vw;
	min-width:80vw;
}

.bigmenu li, nav li {
	margin:auto;
	padding:10px;
	font-family: font-serif-italic;
	font-size: 25px;
	color: lightgrey;
	list-style-type:none;
}

.bigmenu a {
	color:white;
}

.bigmenu a:hover {
	color:salmon;
}

/* Stying for banner heading, used in blog and music section */

header {
	margin:auto;
	margin-top:20px;
	display:flex;
	max-width:90vw;
	width:500px;
}

.logo-icon {
	flex:1 1;
	max-width:100%;
	margin:5px;
}	

.logo-text {
	flex:8 8;
	margin:10px;
	display:flex;
	flex-direction:column;
	align-content:right;
	color:white;
}

.logo-text img {
	max-width:100%;
	flex:2 1;
}

.logo-smalltext {
	margin:5px;
	text-align:right;
	font-family:font-serif-italic;
	font-size:3vh;

}

nav {
	position:fixed;
}

nav>ul {
	padding:0;
	margin:auto;
	display:none;
}

/*Styling of blog elements */

main {
   	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
	width:100%;
	margin:auto;
	margin-top:50px;
	padding: 30px;
}

article {
	margin:auto;
	width:500px;
	max-width:90vw;
}


h1{
	font-family:opensans-bold;
	font-size:1.5rem;
	padding-top:1rem;
}

h2{
	font-family:opensans-bold;
	font-size:1.3rem;
	padding-top:1.5rem;
	margin-bottom:1rem;
}

h3 {
	font-family:opensans;
	font-size:1.1rem;
	margin-bottom:0.5rem;
}

h4 {
	font-family:opensans;
	margin-bottom:0;
}

h3:before {
	content:"\27e3 ";
}

h4:before {
	content:"\2b29  ";
}

summary {
	margin-left:16px;
}

a{
	color:salmon;
	text-decoration:none;
}

a:hover{
	color:white;
}

main img{
	display:block;
	margin:auto;
	max-width:100%;
	max-height:500px;
	padding-top:5px;
	padding-bottom:5px;
}

main p{
	font-family:font-serif;
	font-size:1.0em;
	line-height:1.7em;
	margin-bottom:1rem;
}

main ul,ol{
	line-height:1.5rem;
	margin-bottom:1rem;
}

main strong, .main em{
	font-style:normal;
	font-family:font-serif-italic;
	font-weight:bold;
}
