:root {
	--colordark-bg-all:#131c25;
	--colordark-h-all:#CCCCCC;
	--colordark-bodytext:#BBBBBB;
	--colordark-link:salmon;
	--colordark-link-hover:white;
	--colordark-em:#DDDDDD;
	--color-colordark-bg-mplayer:#222222;

	--color-header:black;
	--color-navtext:white;
	--color-nav-active:lime;
	--color-navbg:#111111;
}

/*dibawah ini fix warnanya
 */
header,footer{
	background-color:var(--color-header);
}

.navi a, .navi a:hover{
	color:var(--color-navtext);
}

.navi li:hover{
	background-color:var(--color-navbg);
}

.navi li.active a{
	color:var(--color-nav-active);
}

/*di bawah ini warnanya sesuai tema
 */
body{
	background-color:var(--colordark-bg-all);
	color:var(--colordark-bodytext);
}
h1,h2,h3,h4,h5,h6{
	color:var(--colordark-h-all);
}

a{
	color:var(--colordark-link);
}

a:hover{
	color:var(--colordark-link-hover);
}

.main strong, .main em{
	color:var(--colordark-em);
}

div.mplayer {
	background-color:var(--colordark-bg-mplayer);

}
