@import "/css/base.css";


body{
	background-color:#10101F;
	color:lightgray;
}

header{
	background-color:black;
}

footer{
	background-color:black;
	/*background-color: #0F2424;*/
	/*border-top: 1px gray solid;*/
}


.navi a{
	color:white;
}

.navi li:hover{
	color:white;
	background-color:#444444;
}

#site-name:hover{
	background-color:#111111;
}

.navi li.active a{
	color:lime;
}

a{
	color:salmon;
}

a:hover{
	color:white;
}

.main strong,em{
	color:white;
}

input {
	color: salmon;
	background-color:black;
}

input:hover{
	color:white;
	background-color:#444444;
}

@media screen and (max-width:500px){

	#categories{
		border-left:1px darkgray solid;
		border-right:1px darkgray solid;
		border-bottom:1px darkgray solid;
	}

	label.navi li a{
		color:lightgray;
	}

	.navi li{
		background-color:#111111;
	}

}
