body{
	background-color:#141628;
/*	color:#90A0B0;*/
	color:#BBBBBB;
}

header{
	background-color:black;
}

footer{
	background-color:black;
	/*background-color: #0F2424;*/
	/*border-top: 1px gray solid;*/
}

h1,h2,h3 {
	color:#CCCCCC;
}


.navi a{
	color:white;
}

.navi li:hover{
	color:white;
	background-color:#111111;
}

.navi li.active a{
	color:lime;
}

a{
	color:salmon;
}

a:hover{
	color:white;
}

.main strong,em{
	color:#DDDDDD;
}

div.mplayer {
	/*background-color:#281421;*/
	background-color:#222222;

}

@media screen and (max-width:500px){

	#categories{
	}

	label.navi li a{
		color:lightgray;
	}

	.navi li{
		background-color:black;
	}

}
