@import "/css/base.css";


body{
	background-color:oldlace;
	color:dimgrey;
}

header{
	background-color:black;
}

footer{
	background-color:black;
	/*background-color: #0F2424;*/
	/*border-top: 1px gray solid;*/
}

h2 {
	color:black;
}

.navi a{
	color:lightgray;
}

.navi a:hover{
	color:white;
}

.navi li:hover{
	color:white;
	background-color:#111111;

}

.navi li.active a{
	color:lime;
}

a{
	color:brown;
}

a:hover{
	color:blue;
}

.main strong,em{
	color:black;
}


@media screen and (max-width:500px){

	#categories{
	}

	label.navi li a{
		color:lightgray;
	}

	.navi li{
		background-color:black;
	}

}
