ServerSignature Off

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # deny files using whitelist approach
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule !(public|index.php) 404

  # Pass all non-files to index.php as parameter
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php?request_path=$1 [qsappend]

</IfModule>
