body * {
    transition: all 0.3s;
}

body {
    background-color: #222;
    color: #DDD;
    font-family: sans-serif;
    margin: 0;
}

a {
    color: khaki;
    text-decoration: none;
    padding:0px;
}
a:hover {
    color: #222;
    background-color: khaki;
    border-radius: 5px;
    padding: 2px 2px;
}

nav {
    margin: 8px;
}

nav ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li:first-child a:before {
    content: "\2302";
}

nav li {
    display:inline;
    line-height: 2em;
    overflow: ellipsis;
}


nav li:last-child {
    border: none;
    padding: 5px;
}

nav li a {
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px;
}
nav li a:hover {
    padding: 5px 7px;
}

main {
    max-width: 40em;
    margin:auto;
    padding: 32px;;
    text-align: justify;
}

a.directory-link {
    display:block;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.directory-link:hover {
    color: khaki;
    background-color: #333;
}

a.directory-link small {
    display:block;
    color: lightblue;
    margin-left:1em;
    margin-top: 10px;
}

h1 {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1px;
    padding:24px;
    text-align: right;
    border-bottom: 1px solid #333;
}

h2 {
    margin: 2em 0 0 0;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}


article p {
    line-height: 1.5em;
    letter-spacing: 0.7px;
}

article img {
    width:100%;
}

article li {
    line-height: 1.7em;
    margin: 1em 0;
}

article pre {
    color: aqua;
}

div#nav-away {
    margin-top: 2em;
}
div#nav-away a {
    display:block;
    padding: 8px;
}

